<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-warning">
			<div class="panel-heading">Time</div>
			<div class="panel-body">
				<h1>2:00:00</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-warning">
			<div class="panel-heading">Score</div>
			<div class="panel-body">
				<h1>{{team.totalScore}}</h1>
			</div>	
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-body">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
					<li><a href="#pizza" data-toggle="tab">Pizza</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active in" id="overview">
						<h4>Written Contest</h4>
		                <p class="text-justify">
		                The Written Contest will begin at 8:30 AM. It consists of 40 mainly multiple-choice questions to be completed in 45 minutes. 
		                To be able to attribute your scores to your team and name you must remember the Contestant ID (CID) number, which is found next to your name in the Sub-scores tab.
		                Failure to put your CID on your score sheet could result in a delay of the scoring process. Scores will appear on this page sometime during or after the Programming Contest.
		                </p>
		                <h4>Programming Contest</h4>
		                <p class="text-justify">
		                The Programming Contest will begin at 10:30 AM. The contest consists of 18 problems to be completed in 2 hours. Each problem has a base value of 40 points (all problems are weighed equally),
		                but each incorrect submission will deduct 5 points from this amount until the problem is worth no points. The point deductions are not considered if you never get the problem correct.
		                </p>
		          	</div>
		          	<div class="tab-pane fade" id="pizza">
		          		<p>Pizza is $12.00 per box, regardless of the type of pizza. All payments go to the concession stand once you've ordered - make sure you tell the cashier your team number!</p>
		          		{{#if team.pizza.amountDue}}
		          		<p><b>Amount Due: </b>${{team.pizza.amountDue}}</p>
		          		{{/if}}
						<form action="/api/pizza/order" method="post">
							<br>
							<label>Cheese</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-circle-o"></i></span>
								<input name="cheese" value="{{team.pizza.cheese}}" type="text" class="form-control" placeholder="Amount">
							</div>
							
							<br>
							<label>Pepperoni</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-circle-o"></i></span>
								<input name="pepperoni" value="{{team.pizza.pepperoni}}" type="text" class="form-control" placeholder="Amount">
							</div>
							
							<br>
							<label>Sausage</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-circle-o"></i></span>
								<input name="sausage" value="{{team.pizza.sausage}}" type="text" class="form-control" placeholder="Amount">
							</div>
							
							<br>
							<span class="label label-danger pull-left">{{error}}</span>
        					<button type="submit" class="btn btn-success pull-right">Order</button>
						</form>
		          	</div>
		       	</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="panel panel-warning">
			<div class="panel-body">
				<ul class="nav nav-tabs nav-tab-warning">
					<li class="active"><a href="#written" data-toggle="tab">Sub-scores</a></li>
					<li><a href="#submissions" data-toggle="tab">Submissions</a></li>
					<li><a href="#scoreboard" data-toggle="tab">Scoreboard</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active in" id="written">
						<h5>Written</h5>
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>CID</th>
									<th>Name</th>
									<th>Score</th>
								</tr>
							</thead>
							<tbody>
								{{#each team.members}}
								<tr>
									<th>{{cid}}</th>
									<th>{{name}}</th>
									<th>{{writtenScore}}</th>
								</tr>
								{{/each}}
							</tbody>
						</table>
						<h5>Programming</h5>
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Score</th>
								</tr>
							</thead>
							<tbody>
								{{#each problemStatus}}
								<tr>
									<th>{{number}}</th>
									<th>{{name}}</th>
									<th>{{score}}</th>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="submissions">
						<br>
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Problem</th>
									<th>Judgment</th>
									<th>Appeal</th>
								</tr>
							</thead>
							<tbody>
								{{#each submissions}}
								<tr>
									<th>{{number}}</th>
									<th>{{problemNumber}}</th>
									<th>{{judgement}}</th>
									<th><button type="submit" class="btn btn-xs btn-danger">Appeal</button></th>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="scoreboard">
						<br>
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>Place</th>
									<th>Team</th>
									<th>School</th>
									<th>Score</th>
								</tr>
							</thead>
							<tbody>
								{{#each localRanking}}
								<tr>
									<th>{{place}}</th>
									<th>{{teamNumber}}</th>
									<th>{{school}}</th>
									<th>{{totalScore}}</th>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="panel panel-success">
			<div class="panel-heading">Downloads</div>
			<div class="panel-body">
				<div class="list-group">
					<a href="downloads/pc2-team.zip" class="list-group-item list-group-item">PC<sup>2</sup></a>
					<a href="downloads/schniggles.in" class="list-group-item list-group-item">Dryrun Sample Input</a>
				</div>
			</div>	
		</div>
	</div>
</div>